
.header {
    display:flex;
}
.header .heading {
    margin-left: 5%;
}
.header .heading #title {
    position: relative;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5%;
    padding-bottom: 0.5rem;
    font-weight: 400;
    margin-bottom: 1vh;
}

.header .heading #introduction {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}
.header .heading #name {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
}
.header #profile {
    float: right;
    /* padding-left:100px; */
    margin-left: 5%;
    height:30rem;
    margin-top:1%;
    border-radius: 10%;
}

.Education {
    padding-top:7%;
    
    overflow: auto;
}
.Education #information{
    font-family: 'Montserrat', sans-serif;
    /* padding-top:5%; */
    /* font-size:2rem; */
    margin-left:5%;
    font-weight:900;
}

.Education #information h1 {
    font-weight:400;
    border-style: solid;
    border-bottom: thick line #cf2020;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size:4rem;
}

.Education img{
    width:40%;
    padding-left:3%;
    float:right;
    display:block;
}

@keyframes rotate {
    0%   { transform: scale(0.9,0.9); }
    100% { transform: scale(1,1); }
  }
.Education .card {
    /* font-size: 100%; */
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* width: 40rem; */
    width:30%;
    transition: 0.3s;
    padding-left:7%;
    font-size:2rem;
    font-family: 'Montserrat', sans-serif;
    border-radius:2%;
    /* padding-left: 30px; */
    /* margin-right: 2em; */
    /* margin-left:20px; */
  }

  .Education .card img {
    width:100%;
    padding-bottom:5%;
    padding-right:5%;
    border-radius:2%;
}

.Experience {
    margin-top:15rem;
    padding-left:5%;
    padding-right:5%;
    font-family: 'Montserrat', sans-serif;
    animation-name:rotate;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
}

.projects { 
    /* font-size: 1rem; */
    background-size: contain;
    padding-top: 40px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

@keyframes rotate {
    0%   { transform: scale(0.9,0.9); }
    100% { transform: scale(1,1); }
  }
.projects .card {
    /* font-size: 100%; */
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* width: 40rem; */
    width:30%;
    transition: 0.3s;
    margin-left:2%;
    border-radius:2%;
    /* padding-left: 30px; */
    /* margin-right: 2em; */
    /* margin-left:20px; */
  }
  .projects .card img {
      width:100%;
      border-radius:2%;
  }


  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .card:active{
    transform: scale(1.01,1.01);
  }

  
  /* Add some padding inside the card container */
  .container {
    /* padding: 2px 16px; */
    font-size:80%;
    text-overflow:ellipsis;
    padding-left: 8%;
    padding-right:8%;
    padding-bottom:2%;
  }